<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="../css/report.css">
    <script type="module" src="../js/report.js" defer></script>
</head>

<body>
    <main class="main">
        <section class="main__banner">
            <article class="banner__opcion">
                <a href="#"><img src="../storage/img/arrowBack.svg"> Go back</a>
                <a href="#"><img src="../storage/img/option.svg"></a>
            </article>
        </section>
        <section class="main__report">
            <article class="report__user">
                <h1>Report Garden</h1>
                <small id="clock"></small>
                <strong> Report / clients</strong>
            </article>
            <article class="report__menu">
                <button class="report__active">Clients</button>
                <button>employees</button>
                <button>gama</button>
                <button>offices</button>
                <button>payments</button>
                <button>product</button>
                <button>request details</button>
                <button>Requests</button>
            </article>
            <article class="report__details">
                <h3 class="title_exercise" >Consultas sobre una tabla</h3>
                <details id="queryAboutOneTable1">
                    <summary>
                        <div class="details__description">1. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve un listado con el código de oficina y la ciudad donde hay oficinas.
                            </marquee></p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable2">
                    <summary>
                        <div class="details__description">2. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con la ciudad y el teléfono de las oficinas de España.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable3">
                    <summary>
                        <div class="details__description">3. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop ="infinite">Devuelve un listado con el nombre, apellidos y email de los empleados cuyo jefe tiene
                                un código de jefe igual a 7.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable4">
                    <summary>
                        <div class="details__description">4. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve el nombre del puesto, nombre, apellidos y email del jefe de la empresa.
                            </marquee> 
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable5">
                    <summary>
                        <div class="details__description">5. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con el nombre, apellidos y puesto de aquellos empleados que no
                                sean representantes de ventas.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable6">
                    <summary>
                        <div class="details__description">6. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con el nombre de los todos los clientes españoles.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable7">
                    <summary>
                        <div class="details__description">7. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con los distintos estados por los que puede pasar un pedido.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable8">
                    <summary>
                        <div class="details__description">8. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con el código de cliente de aquellos clientes que realizaron
                                algún pago en 2008. Tenga en cuenta que deberá eliminar aquellos códigos de cliente que
                                aparezcan repetidos. Resuelva la consulta:
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable9">
                    <summary>
                        <div class="details__description">9. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con el código de pedido, código de cliente, fecha esperada y
                                fecha de entrega de los pedidos que no han sido entregados a tiempo.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable10">
                    <summary>
                        <div class="details__description">10. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con el código de pedido, código de cliente, fecha esperada y
                                fecha de entrega de los pedidos cuya fecha de entrega ha sido al menos dos días antes de la
                                fecha esperada.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable11">
                    <summary>
                        <div class="details__description">11. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado de todos los pedidos que fueron **rechazados** en `2009`.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable12">
                    <summary>
                        <div class="details__description">12. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado de todos los pedidos que han sido **entregados** en el mes de
                                enero de cualquier año.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable13">
                    <summary>
                        <div class="details__description">13. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con todos los pagos que se realizaron en el año `2008` mediante
                                `Paypal`. Ordene el resultado de mayor a menor.
                            </marquee>    
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable14">
                    <summary>
                        <div class="details__description">14. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con todas las formas de pago que aparecen en la tabla `pago`.
                                Tenga en cuenta que no deben aparecer formas de pago repetidas.
                            </marquee>    
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable15">
                    <summary>
                        <div class="details__description">15. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con todos los productos que pertenecen a la gama `Ornamentales` y
                                que tienen más de `100` unidades en stock. El listado deberá estar ordenado por su precio de
                                venta, mostrando en primer lugar los de mayor precio.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutOneTable16">
                    <summary>
                        <div class="details__description">16. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado con todos los clientes que sean de la ciudad de `Madrid` y cuyo
                                representante de ventas tenga el código de empleado `11` o `30`.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <h3 class="title_exercise" >Multitabla Conexiones internas</h3>
                <details id="queryAboutTable1">
                    <summary>
                        <div class="details__description">1. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Obtén un listado con el nombre de cada cliente y el nombre y apellido de su
                                representante de ventas. 
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable2">
                    <summary>
                        <div class="details__description">2. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">
                                Muestra el nombre de los clientes que hayan realizado pagos junto con el nombre de sus
                                representantes de ventas.
                            </marquee></p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable3">
                    <summary>
                        <div class="details__description">3. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Muestra el nombre de los clientes que **no** hayan realizado pagos junto con el nombre
                                de sus representantes de ventas.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable4">
                    <summary>
                        <div class="details__description">4. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve el nombre de los clientes que han hecho pagos y el nombre de sus
                                representantes junto con la ciudad de la oficina a la que pertenece el representante.
                            </marquee>
                            </p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable5">
                    <summary>
                        <div class="details__description">5. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve el nombre de los clientes que **no** hayan hecho pagos y el nombre de sus
                                representantes junto con la ciudad de la oficina a la que pertenece el representante.
                            </marquee>
                            </p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable6">
                    <summary>
                        <div class="details__description">6. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Lista la dirección de las oficinas que tengan clientes en `Fuenlabrada`.
                            </marquee>
                            </p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable7">
                    <summary>
                        <div class="details__description">7. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> 
                                Devuelve el nombre de los clientes y el nombre de sus representantes junto con la
                                ciudad de la oficina a la que pertenece el representante.
                            </marquee>
                            </p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable8">
                    <summary>
                        <div class="details__description">8. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve un listado con el nombre de los empleados junto con el nombre de sus jefes.
                            </marquee>    
                            </p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable9">
                    <summary>
                        <div class="details__description">9. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve un listado que muestre el nombre de cada empleados, el nombre de su jefe y el
                                nombre del jefe de sus jefe.
                            </marquee>
                            </p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable10">
                    <summary>
                        <div class="details__description">10. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve el nombre de los clientes a los que no se les ha entregado a tiempo un
                                pedido.
                            </marquee>
                            </p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable11">
                    <summary>
                        <div class="details__description">11. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado de las diferentes gamas de producto que ha comprado cada cliente.
                            </marquee>    
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                
                <h3 class="title_exercise" >Multitabla Conexiones Externas</h3>
                
                <details id="queryAboutExternalTable1">
                    <summary>
                        <div class="details__description">1. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado que muestre solamente los clientes que no han realizado ningún pago.
                            </marquee>    
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutExternalTable2">
                    <summary>
                        <div class="details__description">2. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve un listado que muestre solamente los clientes que no han realizado ningún pedido.
                                </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutExternalTable3">
                    <summary>
                        <div class="details__description">3. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite">Devuelve un listado que muestre los clientes que no han realizado ningún pago y los que no han realizado ningún pedido.
                            </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutExternalTable4">
                    <summary>
                        <div class="details__description">4. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve un listado que muestre solamente los empleados que no tienen una oficina asociada.
                                </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutExternalTable5">
                    <summary>
                        <div class="details__description">5. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve un listado que muestre solamente los empleados que no tienen un cliente asociado.
                                </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutExternalTable6">
                    <summary>
                        <div class="details__description">6. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve un listado que muestre solamente los empleados que 
                                no tienen un cliente asociado junto con los datos de la oficina donde trabajan.
                                </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutExternalTable7">
                    <summary>
                        <div class="details__description">7. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve un listado que muestre los empleados que no tienen una oficina asociada y 
                                los que no tienen un cliente asociado.
                                </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutExternalTable8">
                    <summary>
                        <div class="details__description">8. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve un listado de los productos que nunca han aparecido en un pedido.
                                </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutExternalTable9">
                    <summary>
                        <div class="details__description">9. </div>
                        <div class="details__container">
                            <p><marquee direction="left" loop="infinite"> Devuelve un listado de los productos que nunca han aparecido en un pedido. 
                                El resultado debe mostrar el nombre, la descripción y la imagen del producto.
                                </marquee>
                            </p>
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
            </article>
        </section>
        <small class="footer">Camper: William Rodriguez</small>
    </main>
</body>